/pa1/__pycache__
/pa1/crawler/__pycache__
/pa1/db/pgdata
/pa1/test_scripts


/TEST

/testdb.py
/testlink.py
/app.py
/testsitemap.py
/testxml.py
/testip.py
/testrequest.py
/testdatabase.py
/testurll.py
