# pa1
/pa1/__pycache__
/pa1/crawler/__pycache__
/pa1/db/pgdata
/pa1/test_scripts
/pa1/data
/pa1/crawler/old
/pa1/tests

# pa2
/pa2/implementation-extraction/__pycache__
/pa2/test_wrappers
/pa2/implementation-extraction/roadRunner copy.py

# pa3
/pa3/SQLite database
/pa3/implementation-indexing/indexing-test.py
/pa3/implementation-indexing/__pycache__